/* MAIN.CSS */
#new-post {
	margin: auto;
	width: 60%;
	font-size: 1.2em;
}

#footer{
	margin-top:8rem;
	margin-bottom: 3rem;
}

.manifesto {
	margin:0!important;
	padding:0!important;
	font-size: 1em;
	text-transform: none !important;
}

.header {
	line-height:5em;
	padding:3rem;
	margin-bottom:-3rem;
	margin-right:7.5%;
	margin-left:2.5%;
}

.header > * {
	vertical-align:middle;
}

.logo {
	max-height:5em;
}

.edgeless{
	border: none transparent!important;
	color:#464444!important;
}

.body-post{
	min-height:50%;
}

.form-hash {
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	font-weight: inherit;
	color: inherit;
}

.form-text {
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	font-weight: inherit;
	color: inherit;
}

.footnote {
	font-size: 0.7em;
}

#new-blog-footnote {
	margin-left: 1%;
	margin-top: 1%;
}