{% extends 'base.html' %}

{% block content %}

<div id="new-post" style="text-align: justify;">
	<center><h1 class="blog-title"><b>About us.</b></h1></center>
	<p style="font-size: 0.95em;">
		In an era in which the internet has given us access to new sources of knowledge, being informed has become an obligation. Quality data can be found online for free and we are not subject to providers such as newspapers or stations anymore. This whole new infrastructure has provided us with a new level of autonomy from agencies that have traditionally controlled what we read and think.
	</p>
	<p style="font-size: 0.95em;">
		Even so, these agencies are quickly catching up with technology and we are realizing that our once trusted sources are slowly succumbing to political and corporate pressure.<br><br>That's why we are pledging to create a free, distributed space in which anyone can publish their ideas. No censorship, no moderation. Posts created on Cypherestate cannot be removed or modified by anyone, the IPFS network guarantees it.
	</p>
	<p style="font-size: 0.95em;">
		Create your personal blog, free of charge, and post your ideas using your private key. Anything you write on our platform is permanent.
	</p>
	<p style="font-size: 0.95em;"><img src="/static/img/icon_512.png" style="width:0.848em;height:0.8em;"> The Cypherestate Team</p>
</div>
{% endblock %}