<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link href='/static/css/milligram.min.css' rel="stylesheet">
  <link href='/static/css/normalize.css' rel="stylesheet">
  <link href='/static/css/main.css' rel="stylesheet">
  <!-- Favicon -->
  <link rel="icon" href="/static/img/provisional_icon.png"/>

  <title>Cypher Estate</title>
</head>

<body>
 	<!-- Clear any float  -->
	<div class="clearfix header">
	  <!-- Float either directions -->
	  <div class="float-left">
	  	<img src="/static/img/provisional_icon.png" class="logo">
	  </div>
	  <div class="float-right">
	  	<!-- Outlined Button -->
  		<button class="button button-outline">New Blog</button>
	  </div>
	</div>

	<div id="content">
		{% block content %}
  		{% endblock %}
	</div>

  <div class="container center" id="container">

    <!-- Float either directions -->
	  	<center>Copyright &copy; 2017 Cypher Estate &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="" class="button button-outline">Read our manifesto</a></center>
  </div>
</body>

</html>
