<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link href='https://cypherestate.org/static/css/milligram.min.css' rel="stylesheet">
  <link href='https://cypherestate.org/static/css/normalize.css' rel="stylesheet">
  <link href='https://cypherestate.org/static/css/main.css' rel="stylesheet">
  <!-- WYSIWYG editor -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <!-- Favicon -->
  <link rel="icon" href="https://cypherestate.org/static/img/icon_512.png"/>

  <title>Cypherestate</title>
</head>

<body>
  <!-- Clear any float  -->
  <div class="clearfix header">
    <!-- Float either directions -->
    <div class="float-left">
      <img src="https://cypherestate.org/static/img/provisional_icon.png" class="logo">
    </div>
    <div class="float-right">
      <!-- Outlined Button -->
      <a href=""><button class="button button-outline">New Post</button></a>
    </div>
  </div>

  <div id="new-post">
    <!-- Content here -->
    <br>
    <center><a href=""><h2 class="blog-title"><b>{{blog.name}}</b></h2> by {{blog.author}}</a></center>

    <ul class="posts-list">
        {%for post in posts%}
          <li>
            <a href='https://ipfs.io/ipfs/{{post.post_hash}}'>
              <h3 class='post-title'>{{post.title}}</h3>
              <!--<p class='post-text'>{{post.text}}</p>\-->
            </a>
          </li>
        {%endfor%}
    </ul>
    <br>

  </div>


    <div class="container center" id="footer">

    <!-- Float either directions -->
      <center>Copyright &copy; 2017 Cypherestate &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://www.activism.net/cypherpunk/manifesto.html" class="button button-clear manifesto">Cypherpunks' manifesto</a></center>
  </div>
</body>

</html>