{% extends 'base.html' %}

{% block content %}

<div id="new-post" style="text-align: justify;">
	<center>
		<h1 class="blog-title"><b>Donate.</b></h1>
		<h3 id="donation-subtitle">Donations are welcome and will help us keep our servers running.</h3>
		<pre class="code prettyprint lang-md prettyprinted crypto-space"><code class="code-content" style="float:left; margin-top: 0.35%;"><img class="crypto-icon" src="/static/img/crypto/btc.svg"><div class="crypto-address" id="btc-addr">1M2TnbMMyXDDDpdmV2cruRMT82zMuNbCnh</div></code><code class="code-content" style="float:right;"><a href="javascript:copyToClipboard('btc-addr')"><i class="fa fa-clone" aria-hidden="true"></i></a></code></pre>
		<pre class="code prettyprint lang-md prettyprinted crypto-space"><code class="code-content" style="float:left; margin-top: 0.35%;"><img class="crypto-icon" src="/static/img/crypto/eth.svg"><div class="crypto-address" id="eth-addr">0x42d3Ec4D676698A08f94fC172B6e2e9012feB27E</div></code><code class="code-content" style="float:right;"><a href="javascript:copyToClipboard('eth-addr')"><i class="fa fa-clone" aria-hidden="true"></i></a></code></pre>
		<pre class="code prettyprint lang-md prettyprinted crypto-space"><code class="code-content" style="float:left; margin-top: 0.35%;"><img class="crypto-icon" src="/static/img/crypto/ltc.svg"><div class="crypto-address" id="ltc-addr">LPen637fJWxE1KU2pJ6DQiBo44gXrBi55W</div></code><code class="code-content" style="float:right;"><a href="javascript:copyToClipboard('ltc-addr')"><i class="fa fa-clone" aria-hidden="true"></i></a></code></pre>
	</center>
</div>

<script>
	function GetValue()
	{
   		var myarray= new Array("item1","item2","item3");
   		var random = myarray[Math.floor(Math.random() * myarray.length)];
   		//alert(random);
		document.getElementById("message").innerHTML=random;
	}

	function copyToClipboard(elementId) {
  		var aux = document.createElement("input");
  		aux.setAttribute("value", document.getElementById(elementId).innerHTML);
  		document.body.appendChild(aux);
  		aux.select();
  		document.execCommand("copy");
  		document.body.removeChild(aux);
	}
</script>

{% endblock %}