{% extends 'base.html' %}

{% block content %}

<div id="new-post" style="text-align: justify;">
	<center>
		<h1 class="blog-title"><b>Donate.</b></h1>
		<h3 id="donation-subtitle">Donations are welcome and will help us keep our servers running.</h3>
		<pre class="code prettyprint lang-md prettyprinted"><code class="code-content" style="float:left;"><img class="crypto-icon" src="/static/img/crypto/btc.svg">1M2TnbMMyXDDDpdmV2cruRMT82zMuNbCnh</code><code class="code-content" style="float:right;"><a href="javascript:copyToClipboard('Address')"><i class="fa fa-clone" aria-hidden="true"></i></a></code></pre>
		<pre class="code prettyprint lang-md prettyprinted"><code class="code-content" style="float:left;"><img class="crypto-icon" src="/static/img/crypto/eth.svg">0x42d3Ec4D676698A08f94fC172B6e2e9012feB27E</code><code class="code-content" style="float:right;"><a href="javascript:copyToClipboard('Address')"><i class="fa fa-clone" aria-hidden="true"></i></a></code></pre>
		<pre class="code prettyprint lang-md prettyprinted"><code class="code-content" style="float:left;"><img class="crypto-icon" src="/static/img/crypto/ltc.svg">LPen637fJWxE1KU2pJ6DQiBo44gXrBi55W</code><code class="code-content" style="float:right;"><a href="javascript:copyToClipboard('Address')"><i class="fa fa-clone" aria-hidden="true"></i></a></code></pre>
	</center>
</div>
{% endblock %}