{% extends 'base.html' %}

{% block content %}


<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

<div id="new-post">
	<form action="/newpost/" method="post" id="new-post-form">
		<br>
		<h3><input class="form-text edgeless" type="text" name="title" maxlength="56" placeholder="Enter your title here." required></h3>
		<textarea placeholder="Write your ideas here." id="text" name="text"
		maxlength="65536" class="form-text edgeless body-post button-clear"></textarea>
		<input class="form-hash" type="password" name="key" placeholder="Enter your private key here." required>
		<p class="footnote" id="new-blog-footnote">Don't have a key yet? <a target="_blank" href="/newblog/">Create a new blog</a></p>
		<input class="button-primary float-right publish" type="submit" name="send" value="Publish">
		<br>
	</form>
	<script>
		var simplemde = new SimpleMDE({ element: document.getElementById("text") });
	</script>
</div>
{% endblock %}