{% extends 'base.html' %}

{% block content %}


<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

<div id="new-post">
	<form action="/new_post/" method="POST" id="new-post-form">
		<h2>Start Writing Today!</h2>
		<br>
		<h3><input class="form-text edgeless" type="text" name="title" maxlength="56" placeholder="Title" required></h3>
		<textarea placeholder="The body of your article starts here..." id="text" name="text"
		maxlength="65536" class="form-text edgeless body-post button-clear" required></textarea>
		<input class="form-text" type="text" name="hash" maxlength="40" placeholder="Your key" required>
		<br><br>
		<input class="button-primary float-right publish" type="submit" name="send" value="Publish" required>

	    
	</form>
	<script>
		var simplemde = new SimpleMDE({ element: document.getElementById("text") });
	</script>
</div>
{% endblock %}