{% extends 'base.html' %}

{% block content %}

<div id="new-post">

	{%if not key:%}
		<form action="/new_post/" method="POST" id="new-post-form">
			<br>
			<input class="form-text" type="text" name="blog_name" maxlength="42" placeholder="Enter your blog name here." required>
			<p class="form-verify" id="name-verify">This name has already been taken</p>
			<input class="form-text" type="text" name="blog_author" maxlength="42" placeholder="Your name, pseudonym or leave blank for anonymous." required>
			<p class="form-verify" id="author-verify">This name has already been taken</p>
			<input class="button-primary publish" type="submit" name="send" value="Create">
		</form>
		<script>
			var simplemde = new SimpleMDE({ element: document.getElementById("text") });
		</script>

	{%else:%}
		<h2>Your blog has been registered</h2>
		<br>
		Your new key is:
		<br>
		<h3>{{key}}</h3>
		<br>
		<p>
			Be aware that we don't keep our users' keys, so keep it safe.
			Your key is generated completely randomly from a cryptographic
			algorithm and can not be generated again. Be aware.
		</p>
	{% endif %}
		
</div>
{% endblock %}