{% extends 'base.html' %}

{% block content %}

<div id="new-post">

	{%if not key%}
		<form action="/newblog/" method="POST" id="new-post-form">
			<br>
			<input class="form-text" id="blog-name-input" type="text" name="blog_name" maxlength="42" placeholder="Enter your blog name here." required>
			<p class="form-verify" id="name-verify-text" style="color:#ff4444;">Blog name cannot be empty.</p>
			<input class="form-text" id="blog-author-input" type="text" name="blog_author" maxlength="42" placeholder="Your name or pseudonym." required>
			<p class="form-verify" id="author-verify-text" style="color:#ff4444">Author name cannot be empty.</p>
			<input class="button-primary publish" type="submit" name="send" value="Create">
		</form>
	{%else%}
		<h2>Your new blog has been created.</h2>
		<p>Your secret key is:</p>
		<div class="key-display">
			<pre class="code prettyprint lang-md prettyprinted"><code class="code-content" id="key" style="float:left;">{{key}}</code><code class="code-content" style="float:right;"><a href="javascript:copyToClipboard('key')"><i class="fa fa-clone" aria-hidden="true"></i></a></code></pre>
		</div>
		<p class="terms-paragraph">
			Make sure you write down your key in a safe place. This key will allow you (or anyone) to write on your new blog. Cypherestate has no way of recovering your key for you.
		</p>
	{% endif %}
		
</div>

<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript">
    $("#blog-name-input").change(function() {
    	if ($("#blog-name-input").val() != "")
    	{
  			$.get("/checkBlogName/" + $("#blog-name-input").val() + "/", function(data) {
  				if (data == "True")
  				{
  					//Name exists
  					$("#name-verify-text").text("Blog already exists.");
  					$("#name-verify-text").css("color", "#ff4444");
  				}
  				else
  				{
  					//Name is new
  					$("#name-verify-text").text("Blog name is valid.");
  					$("#name-verify-text").css("color", "#50dd3e");
  				}
  			});
  		}
  		else
  		{
  			//Empty value
  			$("#name-verify-text").text("Blog name cannot be empty.");
  			$("#name-verify-text").css("color", "#ff4444");
  		}
	});

	$("#blog-author-input").change(function() {
  		if ($("#blog-author-input").val() != "")
    	{
  			$.get("/checkBlogName/" + $("#blog-author-input").val() + "/", function(data) {
  				if (data == "True")
  				{
  					//Name exists
  					$("#author-verify-text").text("Author already exists.");
  					$("#author-verify-text").css("color", "#ff4444");
  				}
  				else
  				{
  					//Name is new
  					$("#author-verify-text").text("Author name is valid.");
  					$("#author-verify-text").css("color", "#50dd3e");
  				}
  			});
  		}
  		else
  		{
  			//Empty value
  			$("#author-verify-text").text("Author name cannot be empty.");
  			$("#author-verify-text").css("color", "#ff4444");
  		}
	});
</script>

<script>
	function GetValue()
	{
   		var myarray= new Array("item1","item2","item3");
   		var random = myarray[Math.floor(Math.random() * myarray.length)];
   		//alert(random);
		document.getElementById("message").innerHTML=random;
	}

	function copyToClipboard(elementId) {
  		var aux = document.createElement("input");
  		aux.setAttribute("value", document.getElementById(elementId).innerHTML);
  		document.body.appendChild(aux);
  		aux.select();
  		document.execCommand("copy");
  		document.body.removeChild(aux);
	}
</script>

{% endblock %}